@using Domain.Entities;
@model ICollection<ReviewListDTO>
@{
    var reviews = Model;
}
@{ 
    if (reviews != null)
    {
        foreach(var review in reviews)
        {
            <tr style="padding-bottom:5px;">
                <td style="vertical-align:middle; padding-right:20px"><p>@review.BookTitle</p></td>
                <td style="vertical-align:middle; padding-right:20px"><p>@review.Title</p></td>
                <td style="vertical-align:middle; padding-right:20px"><p>@review.Content</p></td>
                <td style="vertical-align:middle; padding-right:20px"><p>@review.ReviewerUserName</p></td>
                <td style="vertical-align:middle"><p>@review.PublishDate.ToString("dd.MM.yyyy")</p></td>
                <td style="vertical-align:middle"><button data-toggle="modal" data-target="#deleteReviewModal" class="btn btn-dark" onclick="ShowDeleteReviewModal(@review.Id)">Delete</button></td>
            </tr>
        }
    }
}