@model Domain.Entities.BookUpdateDTO
@{IEnumerable<Domain.Entities.AuthorDTO> authors = ViewBag.authors; }
@{IEnumerable<Domain.Entities.LanguageDTO> languages = ViewBag.languages; }
@{
    ViewData["Title"] = "Update";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<span style="float: right; margin-top: 20px;">
    @Html.ActionLink("Back to List", "Index", "Home")
</span>
<h2>Update</h2>
<form method="post" enctype="multipart/form-data">
    <p>
        <label>Book cover:</label>
        <input type="file" accept=".jpg, .png, .jpeg" name="image">
        <div class="error-messages" id="err-cover"></div>

    </p>
    <p>
        <label asp-for="@Model.Title">Title:</label>
        <input asp-for="@Model.Title" />
    </p>
    <p>
        <label asp-for="@Model.Author">Author:</label>
        @if(Model.IsPending)
        {
            <label asp-for="@Model.Author">@Model.Author</label>
        }
        else 
        { 
            <select asp-for="@Model.Author">
                @foreach (var a in authors)
                {
                    <option value="@a.FullName">@a.FullName</option>
                }
            </select>
        }
    </p>

    <p>
        <label asp-for="@Model.Language">Language:</label>
        <select asp-for="@Model.Language">
            @foreach (var l in languages)
            {
                <option value="@l.Name">@l.Name</option>
            }
        </select>
    </p>
    <p>
        <label asp-for="@Model.PublishDate">Publish Date:</label>
        <input id="setDate" asp-for="@Model.PublishDate" type="date" />
    </p>
    <p><button type="submit">Submit</button></p>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            SetMaxDate("setDate");
            $(".bs-caret").remove();
        })
        function SetMaxDate(inputId) {
            document.getElementById(inputId).setAttribute("max", formatDate(Date()));
        }
    </script>
}
