@using Domain.Entities;
@using System.Linq;
@model ICollection<WishBookDTO>
@{
    var wishLists = Model;
}
@{
    if (wishLists != null)
    {
        foreach (var wishedBook in wishLists)
        {

            string userList = "";
            wishedBook.Users.ToList();

            <tr style="padding-bottom:5px; width:150%;">
                <td style="vertical-align:middle"><p style="word-break:break-all">@wishedBook.BookTitle</p></td>
                <td style="vertical-align:middle"><p style="word-break:break-all">@wishedBook.BookAuthor</p></td>
                <td>
                    @if (wishedBook.Users.Contains(ViewBag.UserName))
                    {
                        <span style="cursor:default" class="badge rounded-pill bg-warning">My Wished Book</span>

                    }
                    @if (wishedBook.Users.Count > 1)
                    {
                        @foreach (var user in wishedBook.Users)
                        {
                            userList += user + "\n";
                        }
                        <p style="vertical-align:middle; cursor:default" data-html="true" data-toggle="tooltip" data-placement="bottom" title="@userList">Requested by @wishedBook.Users.Count users</p>
                    }
                    else
                    {
                        <p>@wishedBook.Users.FirstOrDefault()</p>
                    }
                </td>
                <td>
                    @if (wishedBook.Users.Contains(ViewBag.UserName))
                    {
                        <div style="inline-size: max-content;">
                            <button class="btn btn-primary" style="background-color:black" id="editWishBook" data-toggle="modal" data-target="#addWishBookModal" onclick="EditBook('@wishedBook.BookAuthor', '@wishedBook.BookTitle',@wishedBook.Id)">Edit</button>
                            <button class="btn btn-danger deleteWishBookBtn" data-id="@wishedBook.Id" data-toggle="modal" data-target="#deleteWishBookModal">Delete</button>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-primary max-width" style="background-color:black" data-toggle="modal" data-target="#exampleModal2" id="addThisWishedBook" onclick="UploadThisBook('@wishedBook.BookAuthor','@wishedBook.BookTitle')">Add book</button>
                    }
                </td>
            </tr>
        }
        @Html.Hidden("wishBookId", "", new { id = "wishBookId" })
    }
}
