@using Domain.Entities;
@using Application;
@using Domain.Enums;
@model ICollection<UserManageDTO>
@{
    var users = Model;
}
@{ 
    if(users != null)
    {
        @foreach (var user in users)
        {
            var isSuperAdmin = user.Role.Equals(AccessRole.SuperAdmin);
            <tr @{ if (isSuperAdmin) { <text>style="background-color: lightgray; pointer-events: none"</text> } }>
                <td>
                    <p>@user.UserName</p>
                </td>
                <td>
                    <p>@user.Role</p>
                </td>
                <td>
                    @if (!isSuperAdmin)
                    {
                        @if (user.Role.Equals(AccessRole.Admin))
                        {
                            <button data-toggle="modal" data-target="#userManageModal" onclick="removeAdmin('@user.Id', '@user.UserName')" class="btn btn-danger w-25">Remove</button>
                        }
                        else
                        {
                            <button data-toggle="modal" data-target="#userManageModal" onclick="assignAdmin('@user.Id', '@user.UserName')" class="btn btn-dark w-25">Assign</button>
                        }
                    }

                </td>
            </tr>
         }
    }
}
