@{
    ViewData["Title"] = "Admin";
    IEnumerable<Domain.Entities.ExtendAssignmentRqDTO> assignments = ViewBag.Assignments;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script type="text/javascript">

    function makeEditable(id) {
        $(document).ready(function () {
            document.getElementById(id).removeAttribute("readonly")
        });
    }
</script>
<script>
    function ReloadPage() {
        $(document).ready(function () {
            window.location.reload();
        });
    }
</script>

<ul class="nav nav-tabs" id="myTab" style="margin-top: 10px; margin-bottom: 20px;">
    <li class="nav-item active">
        <a id="profileTab" class="nav-link active tabItem" data-toggle="tab" href="#addAuthors" style="color: black">Add authors</a>
    </li>
    <li class="nav-item">
        <a id="approveAssignmentsSection" class="nav-link tabItem" data-toggle="tab" href="#assignments" style="color: black">Approve assignments</a>
    </li>
    <li class="nav-item">
        <a id="AdminReviewsTab" class="nav-link tabItem" data-toggle="tab" href="#deleteReviews" style="color: black">Delete reviews</a>
    </li>
    <li class="nav-item">
        <a id="manageRolesTab" class="nav-link tabItem" data-toggle="tab" href="#manageRoles" style="color: black">Manage roles</a>
    </li>
</ul>
<div id="userTabContent" class="tab-content">
    <div class="tab-pane active" id="addAuthors">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td scope="col" style="width: 30%;">AUTHOR</td>
                            <td scope="col">PROPOSED BY</td>
                            <td scope="col">ACTIONS</td>
                        </tr>
                    </thead>
                    <tbody id="pendingAuthorsTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <!-- Button with UploadAuthor Function !-->
            <a id="UploadBook" href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal3" onclick="ClearMessageBox()" style="font-size:12px; border-radius:0"><b>ADD AUTHOR</b></a>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="addbook modal fade" id="exampleModal3" tabindex="-1">
                <di class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><b>Add New Author</b></h5>
                        </div>
                        <div class="modal-body" id="general-content">
                            <div>
                                @*First Name*@
                                <div class="form-group row-padding">
                                    <input name="firstName" id="firstName" autocomplete="off" class="form-control add" onchange="validateFirstName(this.value);" style="height:40px" required type="text" placeholder="First Name *" />
                                    <div class="error-messages" id="err-firstName"></div>
                                </div>
                                @*Last Name*@
                                <div class="form-group row-padding">
                                    <input name="lastName" id="lastName" autocomplete="off" class="form-control add" onchange="validateLastName(this.value);" style="height:40px" required type="text" placeholder="Last Name *" />
                                    <div class="error-messages" id="err-lastName"></div>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="addAuthor" class="btn container" onclick="AddAuthorNotPending()" style="font-size: 12px; width: 146px; background-color: black; color: white; margin-right: 0px; margin-left: 5px; padding-right: 10px; padding-top: 12px; padding-bottom: 12px; padding-left: 10px;">Save Changes</button>
                            <button id="closeUploadModal" onclick="ReloadPage()" type="button" class="btn btn-outline-secondary container" style="color: black; font-size: 12px; width: 112px; margin-right: 10px; padding-top: 11px; padding-bottom: 11px; padding-left: 10px; padding-right: 10px;" data-dismiss="modal">Close</button>
                        </div>
                        <div class="modal-footer messageBoxFooter">
                            <div id="MessageBoxArea"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--Approve Assignments Tab-->
    <div class="tab-pane" id="assignments">
        <table class="table table-hover" style="width: 1100px;">
            <thead>
                <tr>
                    <th scope="col">Book</th>
                    <th scope="col" style="width:146px">Requested By</th>
                    <th scope="col" style="width:116px">Ends at</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var a in assignments)
                {
                    <tr>
                        <th scope="row" style="width:236px">
                            @a.BookTitle
                        </th>
                        <td>@a.AssigneeName</td>
                        <td>@a.EndDate.ToShortDateString()</td>
                        <td style="width: 316px;">
                            <div style="width:100%">
                                @a.Reason
                            </div>
                        </td>
                        <td style="width: 216px">
                            <form asp-controller="Assignment" asp-action="RejectAssignment" asp-route-id="@a.Id.ToString()" class="d-inline">
                                <button name="reject" type="submit" id="rejectExtend" onclick="" class="btn btn-danger">Reject</button>
                                <input type="hidden" name="section" value="approveAssignmentsSection" />
                            </form>
                            <form asp-controller="Assignment" asp-action="ApproveAssignment" asp-route-id="@a.Id.ToString()" class="d-inline">
                                <button name="approve" type="submit" id="approveExtend" class="btn btn-primary" style="background-color:black; border-color:black">Approve</button>
                                <input type="hidden" name="section" value="approveAssignmentsSection" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*Delete Reviews Tab*@
    <div class="tab-pane" id="deleteReviews">
        <div style="padding-left:5px; padding-right:5px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:15%; word-wrap: break-word">BOOK TITLE</td>
                        <td style="width:15%; word-wrap: break-word">REVIEW TITLE</td>
                        <td style="width:40%; word-wrap: break-word">REVIEW CONTENT</td>
                        <td style="width:15%; word-wrap: break-word">POSTED BY</td>
                        <td style="width:10%; word-wrap: break-word">POSTED AT</td>
                        <td style="width:10%; word-wrap: break-word">ACTIONS</td>
                    </tr>
                </thead>
                <tbody id="ReviewTable" style="word-break:break-all; word-wrap: break-word; word-break: break-word"></tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="manageRoles">
        <div style="padding-left:5px; padding-right:5px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:25%; word-wrap: break-word">USERNAME <span><input spellcheck="false" type="text" id="userNameSearch" class="form-control d-inline" style="margin-left: 2%; width: 60%;" placeholder="Search user..."><i style="position: static; top: 50%; margin-left: -6%" class="fa fa-search"></i> </span></td>
                        <td style="width:25%; word-wrap: break-word">ROLE</td>
                        <td style="width:40%; word-wrap: break-word">ACTION</td>
                    </tr>
                </thead>
                <tbody id="ManageRolesTable" style="word-break:break-all; word-wrap: break-word; word-break: break-word"></tbody>
            </table>
        </div>
    </div>
</div>
@*Delete review Modal*@
<div id="deleteReviewModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-lg-start">
                <div class="col"><h4 class="modal-title">Confirm Delete</h4></div>
                <button class="close float-end" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this review?</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn">Cancel</button>
                @using (Html.BeginForm("DeleteReview", "Review", FormMethod.Post, new { id = "deleteForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" id="submitButton" class="btn btn-danger" />
                    <input id="deleteReviewInput" type="hidden" name="id" />
                    <input type="hidden" name="section" value="AdminReviewsTab" />
                }
            </div>
        </div>
    </div>
</div>


<div id="userManageModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="userManageModalHeader" class="modal-header">
                <div class="col text-center"> <h4 id="userManageHeader" class="modal-title"></h4></div>
                <button class="close float-end" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <p id="userManageModalContent"></p>
            </div>
        </div>
    </div>
</div>

<style>
    .btn {
        border-radius: 0;
    }

    input:read-only {
        background-color: transparent;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
    }

    div.scrollable {
        width: 50%;
        height: 50%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }
</style>

@section Scripts
{
    @{ if (ViewBag.Section != null)
        {
            <script>
               document.getElementById("@ViewBag.Section").click();
            </script>
        }
    }
    <script src="@Url.Content("~/js/UploadBook.js")"></script>

    <script>
        var RolesInfinityScroll = new ManageRolesInfinityScroll("ManageRolesTable", "/Account/AdminManageRoles", { userNameSearch: "" });
        var AdminReviewsInfinityScroll = new AdminReviewsInfinityScroll("ReviewTable", "/Book/AdminReviews", {});
        var AddPendingAuthorsInfinityScroll = new PendingAuthorsTable("pendingAuthorsTable", "/Account/AdminPendingAuthor", {});
    </script>
}