@using Domain.Entities
@using Domain.Enums
@model UserLoginDTO
@{ ViewData["Title"] = "Login"; }

<div class="container-fluid p-0 h-100 ">
    <div class="row justify-content-center h-100 ">
        <div class="col-5 bg-primary" align="center">
            <img src="~/Media/Images/Common/site_logo.png" width="200" style="margin-top: 15%" />
            <h1 class="text-white font-weight-bolder" style="font-size: 3em; margin-top: 30%">Book Sharing</h1>
        </div>
        <div class="col vertical-align">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col justify-content-center align-content-center">
                        <h3 class="mt-xl-5 text-primary text-center mb-xl-5 font-weight-bold">Sign In</h3>
                        <form asp-action="Login" asp-controller="Account" method="post" class="pb-lg-2">
                            <div>
                                <label asp-for="@Model.UserName"></label>
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Your username *", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <br />
                            <div>
                                <label asp-for="@Model.Password"></label>
                                @Html.PasswordFor(m => m.Password, new { id = "passwordInput", data_toggle = "tooltip", data_placement = "bottom", placeholder = "Your password *", @class = "form-control red-tooltip" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="form-group mt-2 text-center">
                                @Html.ValidationMessage(CustomValidation.RegisterError)
                            </div>
                            <div class="form-group mt-lg-4 text-center">
                                <span class="text-danger">@ViewData["Error"]</span>
                            </div>
                            <div class="form-group mt-lg-4 text-center">
                                <button type="submit" class="btn btn-primary rounded col-5">Sign In</button>
                            </div>
                        </form>
                        <div class="border-top card-body text-center mt-lg-2">Don't have an account ? <a asp-action="Register" asp-controller="Account" style="font-weight: bold;">Sign Up</a></div>
                        <div class="text-center mt-lg-2"><a asp-action="ForgotPassword" asp-controller="Account" style="font-weight: bold;">Forgot your password ?</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('header').empty();
        $('footer').empty();
        $("body").css("height", "100%");
        $("html").css("height", "100%");
        $(".container-fluid").addClass("h-100");
        $("main").removeClass('pb-3').addClass("h-100");
    </script>
}