@using Application
@using Domain.Entities
@model (ICollection<AuthorDTO>, ICollection<GenreDTO>, ICollection<LanguageDTO>, UserProfileDTO, IPagedList<Domain.Entities.AllBooksDto>, IEnumerable<UserAssignmentsDTO>);
@{
    ViewData["Title"] = "Profile";
    var Authors = Model.Item1;
    var Genres = Model.Item2;
    var Languages = Model.Item3;
    var userProfile = Model.Item4;
    var userBooks = Model.Item5;
    var userAssignments = Model.Item6;
    if (userProfile.ProfileImagePath is null)
    {
        userProfile.ProfileImagePath = AppSettings.Instance.DefaultUserProfileImage;
    }
    else
    {
        userProfile.ProfileImagePath = $"{AppSettings.Instance.DefaultUserProfileImagesPath}{userProfile.ProfileImagePath}";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<ul id="myTab" class="nav nav-tabs" style="margin-top: 10px; margin-bottom: 20px;">
    <li class="nav-item active">
        <a id="profileTab" class="nav-link active tabItem" data-toggle="tab" href="#profile" style="color: black">My Profile</a>
    </li>
    <li class="nav-item">
        <a id="myBooksSection" class="nav-link tabItem" data-toggle="tab" href="#myBooks" style="color: black">My books</a>
    </li>
    <li class="nav-item">
        <a id="myAssignmentsSection" class="nav-link tabItem" data-toggle="tab" href="#assignments" style="color: black">My Assignments</a>
    </li>
    <li class="nav-item">
        <a id="myWantedBooksSection" class="nav-link tabItem" data-toggle="tab" href="#wantedBooks" style="color: black">Wanted books</a>
    </li>
</ul>
@*My Profile tab*@
<div id="userTabContent" class="tab-content" style="display:none">
    <div class="tab-pane active" id="profile">
        <div class="row" style="padding-top:20px">
            <div class="col-md-4 my-auto">
                <div class="row my-auto justify-content-center">
                    <div class="col">
                        <div class="profile-pic-div my-auto">
                            <img src="@userProfile.ProfileImagePath" id="photo" onerror="this.src = '@AppSettings.Instance.DefaultUserProfileImage';">
                            <input type="file" id="file" accept=".jpg, .png, .jpeg" onchange="ValidateUserAvatar(this)">
                            <label for="file" id="uploadBtn">Choose Avatar</label>
                        </div>
                    </div>
                </div>
                <div class="row my-auto justify-content-center">
                    <div class="col my-auto" style="text-align:center">
                        <div class="error-messages" id="err-avatar"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input class="form-control add DisabledInputs" style="height:40px" required type="text" disabled value=@userProfile.FirstName />
                <br /><br />
                <input class="form-control add DisabledInputs" style="height:40px" required type="text" disabled value=@userProfile.Email />
                <br /><br />
                <input class="form-control add DisabledInputs" style="height:40px" required type="text" disabled value=@userProfile.UserName />
            </div>
            <div class="col-md-3">
                <input class="form-control add DisabledInputs" style="height:40px" required type="text" disabled value=@userProfile.LastName />
            </div>
        </div>
    </div>
    @*My Books Tab Menu*@
    <div class="tab-pane" id="myBooks">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                <div class="col-10">
                    @if (!userBooks.Any())
                    {
                        <center style="padding-top:20%">You do not have any books yet.</center>
                    }
                    else
                    {
                        ViewBag.PaginationAction = "UserProfile"; ViewBag.PaginationSection = "myBooksSection";
                        <partial name="_AllBooksPartial" for="Item5" />
                    }
                </div>
            </div>
            <div class="col-lg-2">
                <!-- Button with UploadBook Function !-->
                <a id="UploadBook" href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal2" onclick="ClearMessageBox()"><b>Upload Book</b></a>

            </div>
        </div>
    </div>
    @*User Assignments List*@
    <div class="tab-pane fade" id="assignments">
        <div>
            @if (!userAssignments.Any())
            {
                <center style="padding-top:10%">You do not have any assignments yet.</center>
            }
            else
            {
                <table style="padding-left:5px" class="table table-hover">
                    <thead>
                        <tr>
                            <td style="width:35%">BOOK</td>
                            <td style="width:15%">START DATE</td>
                            <td style="width:15%">END DATE</td>
                            <td style="width:15%">STATUS</td>
                            <td style="width:20%">ACTIONS</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var assignment in userAssignments)
                            {
                                <tr style="padding-bottom:5px;">
                                    <td><p>@assignment.BookTitle</p></td>
                                    <td><p>@assignment.StartDate.ToString("dd/MM/yyyy")</p></td>
                                    <td><p>@assignment.EndDate.ToString("dd/MM/yyyy")</p></td>
                                    <td>
                                        @if (assignment.IsActive)
                                        {
                                            <span class="badge bg-success" style="font-size:0.8rem; cursor:default">ACTIVE </span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-warning" style="font-size:0.8rem; cursor:default">PENDING</span>
                                        }
                                    </td>
                                    <td>
                                        @if (assignment.IsActive)
                                        {
                                            var disabledValue = assignment.IsExtended || !assignment.CanBeExtended ? "disabled" : "";

                                            if (disabledValue != string.Empty)
                                            {
                                                var tooltipTitle = assignment.IsExtended ? "Assignment is already extended" : "Book is currently in queue";
                                                <button data-toggle="tooltip" data-placement="bottom" title="@tooltipTitle" onclick="initExtendAssignmentModal(@assignment.Id, '@assignment.StartDate.ToString("yyyy-MM-dd")', '@assignment.EndDate.ToString("yyyy-MM-dd")')" class="btn btn-primary" style="background-color:darkgrey; cursor: default;">EXTEND DEADLINE</button>
                                            }
                                            else
                                            {
                                                <button onclick="initExtendAssignmentModal(@assignment.Id, '@assignment.StartDate.ToString("yyyy-MM-dd")', '@assignment.EndDate.ToString("yyyy-MM-dd")')" class="btn btn-primary" data-toggle="modal" data-target="#extendAssignmentModal" style="background-color:black">EXTEND DEADLINE</button>
                                            }



                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    @*Wanted Books Tab*@
    <div class="tab-pane wantedBooks" id="wantedBooks">
        <input type="checkbox" class="btn-check" id="check-only-my" autocomplete="off">
        <label class="btn btn-outline-primary" for="check-only-my" style="border: solid 1px black;">Only My</label><br>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td style="width:30%">TITLE</td>
                            <td style="width:25%">AUTHOR</td>
                            <td style="width:25%">WANTED BY</td>
                            <td style="width:10%">ACTIONS</td>
                        </tr>
                    </thead>
                    <tbody id="anyTable">
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <a id="UploadWishedBook" href="" class="list-group-item list-group-item-action" style="font-size:80%; text-align:center;" data-toggle="modal" data-target="#addWishBookModal" onclick="ClearMessageBox()"><b>ADD BOOK</b></a>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="addbook modal fade" id="exampleModal2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5><b>Add New Book</b></h5>
            </div>
            <div class="modal-body" id="general-content">
                <div>
                    @*Title*@
                    <div class="form-group row-padding">
                        <input id="title" autocomplete="off" class="form-control add" oninput="validateTitle(this.value);" style="height:40px" required type="text" placeholder="Enter the Book Title *" />
                        <div class="error-messages" id="err-title"></div>
                    </div>
                    @*Genres and Languages*@
                    <div class="row row-padding">
                        <div class="col-md-6">
                            <div class="dropdown">
                                <select id="selectGenre" class="selectpicker form-control" multiple data-live-search="true" title="Select the genres *" onchange="ValidateGenre(this.value)">
                                    @{
                                        foreach (var genre in Genres)
                                        {
                                            <option>@genre.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="error-messages" id="err-genre"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="dropdown">
                                <select class="selectpicker form-control" id="selectLanguage" data-live-search="false" title="Select the Language *" onchange="validateLanguage(this.value)">
                                    @{
                                        foreach (var language in Languages)
                                        {
                                            <option>@language.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="error-messages" id="err-language"></div>
                        </div>
                    </div>
                    @*Authors*@
                    <br />
                    <div class="row row-padding">
                        <div class="col-md-7">
                            <input id="insertNewAuthor" onchange="ValidateFullName(this.value)" placeholder="Enter new Author Full Name *" type="text" style="display:none; height:35px" class="form-control" />
                            <div class="error-messages" id="err-addedAuthor"></div>
                            <div id="selectAuthordiv">
                                <select class="selectpicker form-control" id="selectAuthor" data-live-search="true" title="Select the author *" style="display: none;" onchange="ValidateExistingAuthor(this.value)">
                                    @{
                                        foreach (var author in Authors)
                                        {
                                            <option>@author.FullName</option>
                                        }
                                    }
                                </select>
                                <div class="error-messages" id="err-existingAuthor"></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <button onclick="AddNewAuthorToggle()" class="btn btn-outline-primary" style="border-color:#919AA1; width:100%" id="addAuthorButton">Add new author</button>
                        </div>
                    </div>
                    @*Publication Date*@
                    <br />
                    <div class="row row-padding">
                        <div class="col-md-4">
                            <label style="font-size:90%">Publish Date *</label>
                        </div>
                        <div class="col-md-8">
                            <div class="calendar-assign">
                                <div class="input-data-calendar">
                                    <input id="setDate" type="date" style="border:solid; border-width: thin; padding-left: 5px;" onchange="ValidateDate(this.value)" />
                                </div>
                            </div>
                            <div class="error-messages" id="err-publish"></div>
                        </div>
                    </div>
                    <br />
                    @*Browse book cover*@
                    <div class="row row-padding">
                        <br />
                        <div class="col-md-5 my-auto">
                            <label style="font-size:90%">Book cover (Optional)</label>
                        </div>
                        <div class="col-md-7 my-auto">
                            <input class="form-control" style="font-size: 0.8rem; padding-top: 0.6rem; padding-bottom: 0.6rem" id="imageFile" type="file" accept=".jpg, .png, .jpeg" name="image" onchange="ValidateBookCover(this)">
                            <div class="error-messages" id="err-cover"></div>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeUploadModal" type="button" class="btn btn-outline-secondary container" style="border-color:#919AA1" data-dismiss="modal">Close</button>
                <button type="button" id="addBook" class="btn container" style="width:45%" onclick="AddBook()">Add Book</button>
            </div>
            <div class="modal-footer messageBoxFooter">
                <div id="MessageBoxArea"></div>
            </div>
        </div>
    </div>
</div>
@*Wish Book Modal*@
<div id="addWishBookModal" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="min-height:400px">
            <div class="modal-header">
                <p>Add Book To Wish List</p>
            </div>
            <div class="modal-body">
                <div class="form-group row-padding">
                    <input id="wishBookTitle" autocomplete="off" class="form-control add" oninput="validateWishBookTitle(this.value);" style="height:40px" required type="text" placeholder="Enter the Book Title *" />
                    <div class="error-messages" id="err-wishBookTitle"></div>
                </div>
                <br />
                <div class="row row-padding">
                    <div class="col-md-7">
                        <input id="insertNewAuthorWishBook" onchange="ValidateWishBookFullName(this.value)" placeholder="Enter new Author Full Name *" type="text" style="display:none; height:35px" class="form-control" />
                        <div class="error-messages" id="err-addedWishBookAuthor"></div>
                        <div id="selectAuthorWishBookdiv">
                            <select class="selectpicker form-control" id="selectAuthorWishBook" data-live-search="true" title="Select the author *" style="display: none;" onchange="ValidateExistingWishBookAuthor(this.value)">
                                @{
                                    foreach (var author in Authors)
                                    {
                                        <option>@author.FullName</option>
                                    }
                                }
                            </select>
                            <div class="error-messages" id="err-existingWishBookAuthor"></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button onclick="AddNewAuthorWishBookToggle()" class="btn btn-outline-secondary" style="border-color:#919AA1; width:100%" id="addWishBookAuthorButton">Add new author</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm text-center">
                            <button style="width: 100%;border-color:#919AA1" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-sm text-center">
                            <button style="width: 100%" class="btn btn-dark" id="addWishBookBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer messageBoxFooter">
                <div id="WishBookMessageBoxArea" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
@*Extend Deadline Modal*@
<div id="extendAssignmentModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-start">
                <div class="col"><h4 class="modal-title fw-bold">Extend Deadline</h4></div>
                <button class="close float-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Choose new assignment end date:</p>

                @*Calendar Start Date (Disabled)*@
                <div class="row row-padding">
                    <div class="col-md-4">
                        <label style="font-size:90%">Start Date </label>
                    </div>
                    <div class="col-md-8">
                        <div class="calendar-assign">
                            <div class="input-data-calendar">
                                <input id="extendStartDateInput" disabled type="date" class="btn-disabled" style="border:solid; border-width: thin; padding-left: 5px; width: 54%;" onchange="ValidateDate(this.value)" />
                            </div>
                        </div>
                    </div>
                </div>
                @*Calendar End Date*@
                <div class="row row-padding">
                    <div class="col-md-4">
                        <label style="font-size:90%">End Date</label>
                    </div>
                    <div class="col-md-8">
                        <div class="calendar-assign">
                            <div class="input-data-calendar">
                                <input id="extendEndDateInput" type="date" style="border:solid; border-width: thin; padding-left: 5px;" onchange="ValidateDate(this.value)" />
                            </div>
                        </div>
                    </div>
                </div>

                @*Extend Reason*@
                <div class="row row-padding">
                    <div class="col-md-4">
                        <label style="font-size:90%">Extend Reason</label>
                    </div>
                    <div class="col-md-4">
                        <textarea class="extend-textarea" id="extendReason" placeholder="Your reason..." type="text" min="5" maxlength="100" style="border:solid; border-width: thin; padding-left: 5px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-block text-right" style="margin-top: 40px;">
                    <div class="text-wrap text-center warning" style="color:red" id="err-extendReason"></div>
                    <input id="extendIdInput" type="hidden" name="id" />
                    <div class="col float-end">
                        <button id="extendSubmitButton" class="btn btn-dark">SAVE CHANGES</button>
                        <button data-dismiss="modal" type="button" class="btn btn-outline-secondary">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Delete Wish Book *@
<div id="deleteWishBookModal" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
            </div>

            <div style="text-align: center" class="modal-body">
                <p>Are you sure you want to delete this book?</p>
            </div>
            <div class="modal-footer" style="justify-content: space-between">
                <button style="width: 45%" class="btn btn btn-dark" data-dismiss="modal">Cancel</button>
                <button style="width: 45%" class="btn btn-danger" id="confirmDeleteWishBook">Delete</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @{ if (ViewBag.Section != null)
        {
            <script>
               document.getElementById("@ViewBag.Section").click();
            </script>
        }
    }
    <script src="@Url.Content("~/js/UploadBook.js")"></script>
    <script>
        var maxExtendDays = @AppSettings.Instance.MaxExtendDays ;
        var infinityScroll = new WantedBooksInfinitiySroll("anyTable", "/Book/WishBookList", { sortOrder: "", searchString: "" });
    </script>
    <script src="@Url.Content("~/js/WishBook.js")"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
}
