@using Domain.Entities;
@model ICollection<NotificationDTO>
@{
    var notifications = Model;
}
@{
    if (notifications != null)
    {
        foreach (var notification in notifications)
        {
            <li date="@notification.ReceivedDate.Ticks">
                @{
                    var timelineIcon = notification.AdminScope ? "fab fa-adn" : "far fa-user";
                    var timelineIconColor = notification.AdminScope ? "color:dodgerblue" : "color: dimgray"; ;
                }
                <p onclick="ReadNotification(@notification.Id, '@notification.ActionPath')" class="notify-item" style="word-break: break-word;">
                    @notification.Message
                    <span class="timeline-icon"><i class='@timelineIcon' style='@timelineIconColor'></i></span>
                    <span class="timeline-date d-cursor">@notification.ReceivedDate.ToString("yyyy, MMM dd, hh:mm:ss")</span>
                </p>

            </li>
        }
    }
}
